---
import Layout from "../layouts/Layout.astro";
import Mdx from "../components/Mdx.md";
---

<Layout title="Welcome to MDX.">
  <main>
    <Mdx />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
